.head {
  text-align: center;
  color: #f4f4f4;
  background-color: #2f486d;
  padding: 14px;
  font-size: 20px;
}
.img img {
    float: left;
    margin-right: 20px;
    text-align:left;
    border-radius: 10px;
    border: 5px solid #223148;
}
.sobremim {
    text-align: justify;
    height:10px;
    gap: 20px; 
    padding: 5px;
}
#sobre {
    margin-bottom: 5px;
    color:#223148;
    padding: 10px;
    text-align: justify;
}
#formacao {
    margin-bottom: 5px;
    color:#072d4d;
    padding: 10px;
    text-align: justify;
}
.forms {
    text-align: center;
    font-size: 24px;
}
#assunto {
    font-size: 20px;
}
.curriculo {
    width: 150px;
    margin: 100px auto;
    padding: 10px;
    background-color: #2f486d;
    color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;}
body {
    font-family: Georgia;
    margin: 0px;
    padding: 0px;
    background-color: #f3eae0;

}
figcaption {
    color:#072d4d;
}
nav {
    text-align: center;
    padding: 10px;
    margin: 5px;
}
ul {
    text-align:center;
    margin: 5px;
}
li {
    text-align: center;
    margin: 5px;
}
footer {
    color: #f5f6f7;
    background-color: #2f486d;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a{
    color: #f5f6f7;
}
h2 {
    margin-bottom: 5px;
    color:#072d4d;
    padding: 10px;
    text-align: justify;
}
.tabela {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
    background-color: #1f3b63;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 8%;
    left: 23%;
}
#formulario {
    color:#072d4d;
}
#Horarios {
    color:#072d4d
}
th {
    background-color: #f5f6f7;
    color: #1f3b63;
}
td {
    border: 1px solid #f5f6f7;
    padding: 8px;
    background-color: #557ea0;
    color: #f5f6f7;
}
p {
    font-size: 24px;
}
tr {
    border: 1px solid #f5f6f7;
}
td {
    border: 1px solid #f5f6f7;
    padding: 8px;
    background-color: #557ea0;
    color: #f5f6f7;
}